.name > .last:before {
    content: " ";
}

#index {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    background: #54c7db;
    color: white;
}

#index h1, #index h2 {
    font-weight: 400;
}

#index a {
    font-weight: 300;
    color: #126580;
}

#other-lpages {
    position: absolute;
    width: 100%;
    top: 9999px;
}

.lpage > div {
    margin: auto;
}

#index.lpage > div {
    text-align: center;
}

#sid figcaption > h3 {
    text-align: center;
}

.center {
    text-align: center;
}

#sid {
    padding-top: 4em;
}

#sid figure {
    text-align: center;
    background: #e1e1e1;
    margin: 0;
    padding: 1rem;
}

#sid .container {
    width: 95%;
    max-width: 95%;
}

#sid figure > img {
    background: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
}

#sid figcaption {
    background: white;
    padding: 0.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow-x: hidden;
}

#sid figcaption > h3 {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;;
}

#sid figcaption > p {
    text-align: justify;
}

.cyber {
    font-weight: 600;
}

@media (max-width: 900px) {
    .four.columns {
        width: 100%;
        margin-left: auto;
    }
}