.name > .last:before {
    content: " ";
}

.lpage {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 1;
}

.lpage.index > div {
    text-align: center;
    margin: auto;
}

nav {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    height: 130px;
    width: 130px;
    z-index: 2;
}

nav > img {
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: .2;
}

nav > img.active {
    opacity: 1;
    cursor: pointer;
}

nav > .up {
    top: 0;
    left: 40px;
}

nav > .down {
    bottom: 0;
    left: 40px;
}

nav > .left {
    top: 40px;
    left: 0;
}

nav > .right {
    top: 40px;
    right: 0;
}