{% extends 'base.html' %}
{% load static %}
{% load markup %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %} "/>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block header %}
    <header>
        <div class="row">
            <hgroup class="large-12">
                <h1 class="name">mark<span class="last">ignacio</span></h1>
            </hgroup>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section id="bio">
        <div class="row">
            <div class="large-12">
                <h2>whoami</h2>
                <p>I (Mark Ignacio) am a web developer-cum-devops Computer Science student at the University of Central Florida. As a full stack web developer, I've designed and produced <b>Python</b> and <b>Javascript</b> web applications for both private and public sector clients.</p>
                <p>Information security is a big thing of mine. I competed nationally in the <a href="">Collegiate Cyber Defense Competition</a> for <span class="vocab" title="The University of Central Florida">UCF</span>, am currently a participating member of the student-run <a href="https://hackucf.org">Hack@UCF</a>, and I occasionally do web-focused penetration tests, too!</p>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="row">
            <div class="large-12">
                <h2>Projects</h2>
                <p>Most of my dev experience is with Python's <b>Django</b> framework. As a web host in my spare time, I maintain several <b>Wordpress</b>, <b>Mediawiki</b>, and custom PHP app installations. A few of them can be seen below.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12">
                <h3>Personal Projects</h3>

                <div id="personal-projects" class="content active">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                        {% for project in personal_projects %}
                            <li>
                                <figure class="project">
                                    <a class="project-link" href="{{ project.link }}"></a>
                                    <img src="{{ project.image.url }}"/>
                                    <figcaption>
                                        <h4>{{ project.name }}
                                            <small><a href="{{ project.link }}">{{ project.link|truncatechars:25 }}</a>
                                            </small>
                                        </h4>
                                        <div class="truncated">{{ project.description|markdown|truncatewords_html:12 }}</div>
                                        <div class="full">{{ project.description|markdown }}</div>
                                    </figcaption>
                                </figure>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12">
                <h3>Commercial Projects</h3>

                <div id="paid-projects" class="content">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
                        {% for project in  paid_projects %}
                            <li>
                                <figure class="project">
                                    <a class="project-link" href="{{ project.link }}"></a>
                                    {% if project.image %}<img src="{{ project.image.url }}"/>{% endif %}
                                    <figcaption>
                                        <h4>{{ project.name }}
                                            <small><a href="{{ project.link }}">{{ project.link|truncatechars:25 }}</a>
                                            </small>
                                        </h4>
                                        <div class="truncated">{{ project.description|markdown|truncatewords_html:10 }}</div>
                                        <div class="full">{{ project.description|markdown }}</div>
                                    </figcaption>
                                </figure>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="project-modal" class="reveal-modal" data-reveal></div>
{% endblock %}