{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}
{% block content %}
    <nav>
        <img class="up" src="{% static 'up.svg' %}" alt="up"/>
        <img class="down active" src="{% static 'down.svg' %}" alt="up"/>
        <img class="left" src="{% static 'left.svg' %}" alt="up"/>
        <img class="right" src="{% static 'right.svg' %}" alt="up"/>
    </nav>
    <section class="lpage index">
        <div>
            <h1 class="name">mark ignacio</h1>

            <h2><a href="#dev">dev</a> | <a href="#security">security</a> | <a href="#hobby">hobby</a></h2>
        </div>
    </section>
    <section class="lpage dev"></section>
    <section class="lpage security"></section>
    <section class="lpage hobby"></section>
    <section class="lpage about"></section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}