{% load projects_extras %}
<li class="project {% block project_classes %}{% endblock %}">
    <figure>
        {% if project.image %}
            <div class="full-img">
                <img src="{{ project.image.url }}"/>
            </div>
        {% endif %}
        <figcaption>
            {% block h4 %}
            <h4>{{ project.name }}
                <small>
                    <a href="{{ project.link }}">{{ project.link|truncatechars:25 }}</a>
                </small>
                <small class="times">
                    {{ project.start_date|date:"M Y" }} &#8211; {{ project.end_date|end_date }}
                </small>
            </h4>
            {% endblock %}
            <hr class="full"/>
            <div class="truncated">{{ project.description|markdown|truncatewords_html:12 }}</div>
            <div class="full">{{ project.description|markdown }}</div>
        </figcaption>
    </figure>
</li>